<div class="trivia-container" *ngIf="categories?.length">
  <div class="trivia-card">
    <header class="trivia-header">
      <h1>Welcome to Trivia Challenge!</h1>
      <p>Test your knowledge across various categories. Are you ready?</p>
    </header>

    <div class="categories-grid">
      <div
        *ngFor="let category of categories"
        class="category-button"
        [class.selected]="selectedCategoryId === category.id"
        (click)="selectCategory(category.id)"
      >
        <mat-icon class="icon">{{ category.icon }}</mat-icon>
        <span>{{ category.name }}</span>
      </div>
    </div>

    <div *ngIf="selectedCategoryId" class="difficulty-section">
      <h2>Select Difficulty:</h2>
      <mat-radio-group
        [(ngModel)]="selectedDifficulty"
        class="difficulty-options">
        <mat-radio-button style="text-transform: capitalize"
          *ngFor="let difficulty of difficulties"
          [value]="difficulty"
          (change)="selectDifficulty(difficulty)"
          class="difficulty-option"><p>{{ difficulty }}</p>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="start-button-section">
      <button
      class="start-button"
      [disabled]="!selectedCategoryId || !selectedDifficulty"
      (click)="startQuiz()"
    >
      Play!
    </button>
    </div>

  </div>
</div>
